# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies
/node_modules
/.pnp
.pnp.js
/shark
/scripts/dump.cmd
/scripts/dump.sh
/scripts/fat.js
/backUp
# testing
/coverage

# production
/build
/dist

# misc
.DS_Store
.env.local
.env.development.local
.env.test.local
.env.production.local

npm-debug.log*
yarn-debug.log*
yarn-error.log*
yarn.lock

# ctrip
.configTemp
ares-module-source-code

.eslintrc-ts.json
.eslintrc_bak.js
.eslintrc_bak.json
.idea/
junit.xml

# vscode plugins
.history
.vscode/bookmarks.json
